@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0a0a0a;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', system-ui, sans-serif;
}
